{% extends 'layout.html' %}

{% block content %}
<body class="NotFound">
    <header>
        <h1><a href="/">Film Geek</a></h1>
        <!-- <div id="mySidenav" class="sidenav">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </div> -->
    </header>
    <main>
        <Button type="submit" class="BackHome"><a href="/">Back to Home</a></Button>
    </main>
    <footer>
        <p>© 2024 Film Geek</p>
    </footer>
</body>
{% endblock %}

